.container {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    /* background-color: azure; */
}

.info {
    width: 46rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info div {
    display: flex;
    justify-content: center;
}

.infoCriada div {
    background-color: var(--gray-400);
    border-radius: 8px;
    width: 1.563rem;
    height: 1.188rem;
}
.infoCriada div p { 
    color: var(--gray-100);
}


.infoCriada p {
    color: var(--blue-500);
    font-weight: bold;
    padding-right: 5px;
}

.infoConcluida div {
    background-color: var(--gray-400);
    border-radius: 8px;
    width: 3.563rem;
    height: 1.188rem;
    justify-content: center;
}

.infoConcluida div p { 
    color: var(--gray-100);
}

.infoConcluida p {
    color: var(--purple-500);
    font-weight: bold;
    padding-right: 5px;
}

.empty {
    width: 46rem;
    border: solid var(--gray-400);
    border-radius: 1rem;
    border-width: 1px 0px 0px 0px;
    margin-top: 1.5rem;

}

.noTask {
    border: solid var(--gray-400);
    border-width: 1px 1px 1px 1px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 4rem;
    padding-bottom: 4rem;
}

.noTask img {
    padding-bottom: 1rem;
}

.noTask p {
    padding-bottom: 0.5rem;
}